<div class="container-lg">

  <div style="text-align:center">
    <h1 class="display-4 mt-3">Chuck Norris Facts from icndb.com</h1>
  </div>


  <button type="button"
          class="btn btn-primary btn-lg btn-block mt-5"
          (click)="showNextJoke()">Show next joke</button>


  <div class="jumbotron mt-5">
    <h4>{{ jokeObj.getText() }}</h4>
    <br>
    <button type="button"
            class="btn btn-success"
            *ngIf="showAddToFavoritesButton"
            (click)="onButtonSaveJoke()">Save as favorite</button>
    <button type="button"
            class="btn btn-danger"
            *ngIf="showRemoveFromFavoritesButton"
            (click)="onButtonRemoveFromFavorites()">Remove from favorites</button>
  </div>


  <div class="mt-5 alert alert-warning" role="alert" *ngIf="showNoJokesWarning">
    No jokes available; try again in a few seconds.
  </div>

  <br><br>

  <div class="row" *ngFor="let joke of favstoreService.getAllJokes()">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text">{{ joke.getText() }}</p>
          <!--<a href="./begriffe/begriff_adb.html" class="btn btn-primary">Erklärung</a>-->
        </div>
      </div>
    </div>
  </div>

</div>